<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyCuaHangBanThuoc.Properties.Settings.TiemThuocConnectionString"
            connectionString="Data Source=DESKTOP-BV1RMRN\TAKA;Initial Catalog=TiemThuoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>